<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>

    <link rel="stylesheet" href="/home.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container">
        <div class="screen">
            <!-- *********************Navigation Bar********************** -->
            <div class="navigationbar">
                <!-- ************logo******************** -->
                <div class="logo">
                    <i class="fa-brands fa-twitter fa-3x"></i>
                </div>



                <!-- ************navigation******************** -->

                <div class="navigation">

                    <div class="navrow home">
                        <i class="fa-solid fa-house fa-2x"></i>
                        <span>Home</span>
                    </div>

                    <div class="navrow explore">
                        <i class="fa-solid fa-hashtag fa-2x"></i>
                        <span>Explore</span>
                    </div>

                    <div class="navrow notifications">
                        <i class="fa-regular fa-bell fa-2x"></i>
                        <span>Notifications</span>
                    </div>

                    <div class="navrow messages">
                        <i class="fa-regular fa-envelope fa-2x"></i>
                        <span>Messages</span>
                    </div>

                    <div class="navrow profile" onclick="profile()">
                        <i class="fa-regular fa-user fa-2x"></i>
                        <span>Profile</span>
                    </div>


                    <div class="navrow">
                        <a href="" class="tweetbtn">
                            <p>Tweet</p>
                        </a>
                    </div>

                </div>



                <!-- ************profile******************** -->

                <div class="profile">
                    <div class="profileimg">
                        <img src="<%=selectData[0].profile_pic%>" alt="">
                    </div>
                    <div class="profileinfo">
                        <div class="name">
                            <span>
                                <%=selectData[0].username%>
                            </span>
                        </div>
                        <div class="username">
                            <span>
                                <%=selectData[0].email%>
                            </span>
                        </div>
                    </div>
                    <div class="more">
                        <img src="/images/more.png" alt="">
                    </div>
                </div>



            </div>



            <!-- *********************Content Section********************** -->
            <div class="contentsection">
                <h1>Home</h1>

                <form action="/tweet" method="post" enctype="multipart/form-data">

                    <div class="tweetform">
                        <img src="<%=selectData[0].profile_pic%>" alt="">
                        <input type="text" name="tweet_text" id="tweetformcontent" placeholder="What's Happening?">
                    </div>
                    <div class="tweetsubmit">
                        <label for="file_input">

                            <i class="fa-regular fa-image "></i>
                        </label>
                        <input type="file" id="file_input" name="media">

                        <input type="submit" value="Tweet" class="tweet">
                    </div>
                </form>

                <div class="tweets">
                    <!-- post starts -->
                    <%if(tweets.length !=0){%>
                        <%for(let i=0; i<tweets.length; i++){%>
                            <div class="post">
                                <div class="post__avatar">
                                    <img src="<%=selectData[0].profile_pic%>" alt="img" class="post__avatar" />
                                </div>
                                <div class="post__body">
                                    <div class="post__header">
                                        <div class="post__headerText">
                                            <h3>
                                                <%=selectData[0].username%>
                                                    <span class="post__headerSpecial"><span
                                                            class="material-icons post__badge"> verified
                                                        </span>@<%=selectData[0].email%></span>
                                            </h3>
                                        </div>
                                        <div class="post__headerDescription">
                                            <p>
                                                <%=tweets[i].tweet_text%>
                                            </p>
                                        </div>
                                    </div>
                                    <img src="<%=tweets[i].media%>" alt="img" class="tweetImg" />
                                </div>
                            </div>
                            <%}%>
                                <%}%>
                                    <!-- post ends -->

                </div>
            </div>


            <!-- ********************Search and Suggestion Section************ -->

            <div class="searchsection">

                <div class="searchbar">
                    <span>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" name="search" id="search" placeholder="Search Here" onkeydown="search()">
                </div>

                <div id="searchprofilebar">
                    <%for(i=0;i<user_data.length;i++){%>
                        <div class="searchprofile">
                            <div class="profileimg">
                                <img src="<%=user_data[i].profile_pic%>" alt="">
                            </div>
                            <div class="profileinfo">
                                <div class="name">
                                    <span>
                                        <%=user_data[i].username%>
                                    </span>
                                </div>
                                <div class="username">
                                    <span>
                                        <%=user_data[i].email%>
                                    </span>
                                </div>
                            </div>
                            <div class="followbtn">
                                <p id="follow<%=user_data[i].id%>" onclick="following(`<%=user_data[i].id%>`)">Follow</p>

                                <p id="followcount" style="background-color:red;border:1px solid;font-weight: 200;"></p>
                               
                            </div>
                        </div>

                        <%}%>
                </div>

            </div>











        </div>

    </div>
    <script>
        function profile() {
            location.assign(`/profile`);
        }

        function search() {
            var searchinput = document.getElementById('search').value;
            
            var default_data = document.getElementById('searchprofilebar');

            if(searchinput!==""){
                default_data.style.display="none";
            }
            else{
                default_data;
            }
            // fetch(`http://localhost:3000/home?searchinput='${searchinput}'`)
            // location.assign(`/search`);
        }

        function following(id){

            console.log("follow func")
            console.log(`${id}`)
           
            //document.getElementById(`${id}`).style.backgroundColor = "red";
            console.log("hiii",id)
             var listed = document.getElementById(`follow${id}`);
            // var followcount = document.getElementById("followcount");
             var s ="";
            fetch(`/postfollow?id=${id}` )
           
                                .then(res =>res.json())
                            
                                // location.reload()
                                
                                .then((resultdata) => 
                                {
                                    console.log("resultdata")
                                    
                                    var counted = resultdata.length;
                                    //var id= document.getElementById("123");
                                    console.log(id)
                                    
                                    s+= `Following`
                                    listed.innerHTML=s;
                                })
                

        
        }
    </script>

</body>

</html>